In [11]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'], columns=['one','two','three'])
df1=df.reindex(['a','b','c','d','e','f'])
print(df1)

        one       two     three
a  1.429106  1.612927 -2.432735
b       NaN       NaN       NaN
c -2.790670  0.194540  1.388141
d -0.795998 -0.932926  0.815822
e       NaN       NaN       NaN
f -0.262542 -0.562099  0.479606

In [20]:
#Removing the NaN values
print(df1.dropna())

        one       two     three
a  1.429106  1.612927 -2.432735
c -2.790670  0.194540  1.388141
d -0.795998 -0.932926  0.815822
f -0.262542 -0.562099  0.479606

In [16]:
#Filling the NaN with zeros
df2=df.reindex(['a','b','c'])
print(df2)
print("\n",df2.fillna(0))

        one       two     three
a  1.429106  1.612927 -2.432735
b       NaN       NaN       NaN
c -2.790670  0.194540  1.388141

         one       two     three
a  1.429106  1.612927 -2.432735
b  0.000000  0.000000  0.000000
c -2.790670  0.194540  1.388141

In [19]:
#Replacing the values:
df3=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print(df3)
print(df3.replace({10:5, 80:3}))

   one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10
   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [24]:
#Filling NaN with boolean values
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'], columns=['one','two','three'])
df1=df.reindex(['a','b','c','d','e','f'])
print("Original dataframe:\n",df1)
print("\n NaN-with true fill:\n")
print(df1['one'].isnull())

Original dataframe:
         one       two     three
a  1.405521 -0.655324 -0.086900
b       NaN       NaN       NaN
c  0.074051  0.105124  0.266859
d  0.334109 -0.412562  0.305647
e       NaN       NaN       NaN
f -0.190203 -0.178907 -0.213330

 NaN-with true fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [33]:
print("\n NaN-filled with background values:\n")
#forward filling
print("Forward filling\n",df1.fillna(method='ffill'))
#backward filling
print("Backward filling\n",df1.fillna(method='bfill'))

 NaN-filled with background values:

Forward filling
         one       two     three
a  1.405521 -0.655324 -0.086900
b  1.405521 -0.655324 -0.086900
c  0.074051  0.105124  0.266859
d  0.334109 -0.412562  0.305647
e  0.334109 -0.412562  0.305647
f -0.190203 -0.178907 -0.213330
Backward filling
         one       two     three
a  1.405521 -0.655324 -0.086900
b  0.074051  0.105124  0.266859
c  0.074051  0.105124  0.266859
d  0.334109 -0.412562  0.305647
e -0.190203 -0.178907 -0.213330
f -0.190203 -0.178907 -0.213330