In [1]:
#1. Read and describe the excel file data
import pandas as pd
d=pd.read_excel("emp230901004.xlsx")
print(d)

    Emp ID Name Prefix First Name  Last Name Gender  Salary
0   677509        Drs.       Lois     Walker      F  168251
1   940761         Ms.     Brenda   Robinson      F   51063
2   428945         Dr.        Joe   Robinson      M   50155
3   408351        Drs.      Diane      Evans      F  180294
4   193819         Mr.   Benjamin    Russell      M  117642
5   499687         Mr.    Patrick     Bailey      M   72305
6   539712         Ms.      Nancy      Baker      F   98189
7   380086        Mrs.      Carol     Murphy      F   60918
8   477616        Hon.    Frances      Young      F  121587
9   162402        Hon.      Diana   Peterson      F   43010
10  231469         Mr.      Ralph     Flores      M  118457
11  153989       Prof.       Jack  Alexander      M   82965
12  386158        Mrs.    Melissa       King      F  166892
13  301576        Hon.      Wayne     Watson      M   92758
14  441771        Mrs.     Cheryl      Scott      F   92220
15  528509        Hon.      Paula       Diaz      F  152654
16  912990         Mr.     Joshua    Stewart      M  184896
17  214352         Ms.    Theresa        Lee      F  197537
18  890290        Hon.      Julia      Scott      F  141518
19  622406         Mr.     Thomas      Lewis      M   73862
20  979607         Ms.      Carol    Edwards      F   93967
21  969580       Prof.    Matthew     Turner      M   52237
22  426038        Hon.       Joan    Stewart      F  111673
23  388642        Mrs.       Ruby     Rogers      F  160623
24  560455         Ms.    Carolyn      Hayes      F   42005
25  477253        Mrs.       Anne    Russell      F  103160
26  263480        Hon.     Daniel     Cooper      M  153790
27  683826         Mr.      Roger    Roberts      M  129625
28  474599        Drs.      Maria     Walker      F   48944

In [2]:
#2. Through dataframe get the detais of column heading and shape
df=pd.DataFrame(d)
print("Columns:\n",df.columns)
print(df.shape)

Columns:
 Index(['Emp ID', 'Name Prefix', 'First Name', 'Last Name', 'Gender', 'Salary'], dtype='object')
(29, 6)

In [3]:
#3. Printing a particular column
print("First name",df['First Name'])

First name 0         Lois
1       Brenda
2          Joe
3        Diane
4     Benjamin
5      Patrick
6        Nancy
7        Carol
8      Frances
9        Diana
10       Ralph
11        Jack
12     Melissa
13       Wayne
14      Cheryl
15       Paula
16      Joshua
17     Theresa
18       Julia
19      Thomas
20       Carol
21     Matthew
22        Joan
23        Ruby
24     Carolyn
25        Anne
26      Daniel
27       Roger
28       Maria
Name: First Name, dtype: object

In [4]:
#4. Slicing
print(df[1:5])

   Emp ID Name Prefix First Name Last Name Gender  Salary
1  940761         Ms.     Brenda  Robinson      F   51063
2  428945         Dr.        Joe  Robinson      M   50155
3  408351        Drs.      Diane     Evans      F  180294
4  193819         Mr.   Benjamin   Russell      M  117642

In [5]:
#4. printing a particular row
print("Particular person details\n",df.loc[9])

Particular person details
 Emp ID           162402
Name Prefix        Hon.
First Name        Diana
Last Name      Peterson
Gender                F
Salary            43010
Name: 9, dtype: object

In [6]:
#5. getting info based on a condition
print(d.loc[d["Salary"]==43010])

   Emp ID Name Prefix First Name Last Name Gender  Salary
9  162402        Hon.      Diana  Peterson      F   43010

In [7]:
#6. editing a column
db=d['Salary']/999
print(db)

0     168.419419
1      51.114114
2      50.205205
3     180.474474
4     117.759760
5      72.377377
6      98.287287
7      60.978979
8     121.708709
9      43.053053
10    118.575576
11     83.048048
12    167.059059
13     92.850851
14     92.312312
15    152.806807
16    185.081081
17    197.734735
18    141.659660
19     73.935936
20     94.061061
21     52.289289
22    111.784785
23    160.783784
24     42.047047
25    103.263263
26    153.943944
27    129.754755
28     48.992993
Name: Salary, dtype: float64