In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [10]:
import pandas as pd
emp=pd.Series(['Darshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'Emp':emp,'Id':id}
result=pd.DataFrame(frame)
print("\n Series to DataFrame:\n")
print(result)

 Series to DataFrame:

         Emp  Id
0    Darshan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [19]:
print("\n Extracting One Column:\n")
print(result['Emp'])
print("\n Adding new columns:\n")
result['ID']=pd.Series([80,90,28,56,70])
result['Age']=pd.Series([28,32,47,52,61])
print(result)

 Extracting One Column:

0      Darshan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: Emp, dtype: object

 Adding new columns:

         Emp  Id  ID  Age
0    Darshan  80  80   28
1     Sudeep  90  90   32
2       Siva  28  28   47
3       Yash  57  56   52
4  Keerthana  49  70   61

In [20]:
print("\n Deleting new column:\n")
del result['Age']
print("\n Extracting the Second row:\n")
print(result.loc[1])
print("Slice rows:\n",result[1:4])

 Deleting new column:


 Extracting the Second row:

Emp    Sudeep
Id         90
ID         90
Name: 1, dtype: object
Slice rows:
       Emp  Id  ID
1  Sudeep  90  90
2    Siva  28  28
3    Yash  57  56

In [25]:
d2=pd.DataFrame([['Vicky',100],['Rashid',110]],columns=['Emp','ID'])
print("\n Adding New row values:\n",pd.concat([result,d2]))
print("\n Deleting particular row:\n",result.drop(2))

 Adding New row values:
          Emp    Id   ID
0    Darshan  80.0   80
1     Sudeep  90.0   90
2       Siva  28.0   28
3       Yash  57.0   56
4  Keerthana  49.0   70
0      Vicky   NaN  100
1     Rashid   NaN  110

 Deleting particular row:
          Emp  Id  ID
0    Darshan  80  80
1     Sudeep  90  90
3       Yash  57  56
4  Keerthana  49  70