In [1]:
#Grouping the data
import pandas as pd
car_selling_data = {'Brand':['Maruti','Maruti','Maruti','Maruti','Hyundai','Hyundai','Toyota','Mahindra','Mahindra','Ford','Toyota','Ford'],'Year':[2010, 2011, 2009, 2013, 2010, 2011, 2011, 2010, 2013, 2010, 2010, 2011],'Sold':[6, 7, 9, 8, 3, 5,2, 8, 7, 2, 4, 2]}
df = pd. DataFrame(car_selling_data)
print("\nOriginal DataFrame:\n",df)
#Group the data when year= 2020
grouped = df.groupby('Year')
print("\nGroup by year 2010:\n",grouped.get_group(2010))

Original DataFrame:
        Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

Group by year 2010:
        Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [15]:
#Removing duplicating data
student_data = {'Name': ['Amit', 'Praveen', 'Jagadesh','Rahul', 'Vishal'],'Roll_no': [23,54,29,54,23],'Email': ['xxxx@gmail.com', 'xxxxxx@gmail.com','xxxxxx@gmail.com','xx@gmail.com','xxxx@gmail.com']}
df=pd.DataFrame(student_data)
print("\nOriginal DataFrame:\n",df)
#Here df.duplicated() list duplicate entrines in rollno.
#so that (NOT) is placed in order to get non duplicate values.
non_duplicate = df[~df.duplicated('Roll_no')]
#printing non duplicate values.
print("\nRemoved duplicated rows:\n",non_duplicate)

Original DataFrame:
        Name  Roll_no             Email
0      Amit       23    xxxx@gmail.com
1   Praveen       54  xxxxxx@gmail.com
2  Jagadesh       29  xxxxxx@gmail.com
3     Rahul       54      xx@gmail.com
4    Vishal       23    xxxx@gmail.com

Removed duplicated rows:
        Name  Roll_no             Email
0      Amit       23    xxxx@gmail.com
1   Praveen       54  xxxxxx@gmail.com
2  Jagadesh       29  xxxxxx@gmail.com

In [17]:
#Merging 2 DataFrames based on ID
details=pd.DataFrame({'ID':[101, 102, 103, 104, 105],'NAME':['Arun', 'Praveen', 'Harish','Pooja', 'Rahul'],'BRANCH':['Mech', 'Mech', 'CSE', 'CSE', 'CSE']})
print("\nOriginal DataFrame 1:\n", details)
fees_status=pd.DataFrame ({'ID': [101, 102, 103, 104, 105],'PENDING': ['5000', '250', 'NIL', '9000', '15000']})
print("\nOriginal DataFrame 2:\n", fees_status)
print("\nMerged Dataframe\n",pd.merge(details,fees_status,on='ID'))

Original DataFrame 1:
     ID     NAME BRANCH
0  101     Arun   Mech
1  102  Praveen   Mech
2  103   Harish    CSE
3  104    Pooja    CSE
4  105    Rahul    CSE

Original DataFrame 2:
     ID PENDING
0  101    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000

Merged Dataframe
     ID     NAME BRANCH PENDING
0  101     Arun   Mech    5000
1  102  Praveen   Mech     250
2  103   Harish    CSE     NIL
3  104    Pooja    CSE    9000
4  105    Rahul    CSE   15000